@model Course
@{
    ViewData["Title"] = "CoursesRes";
    SelectList listItems = new SelectList(ViewBag.Courses, "Id", "Name");
}

<h1>Courses Degree</h1>

<form asp-action="ShowCourses" asp-controller="CourseRes">

    <div>
        <label asp-for="Id" style="margin:10px"></label>
        <select class="form-control" asp-items="@listItems" asp-for="Id">
            <option value="0">--Select Course--</option>
        </select>
        <span asp-validation-for="Id" class="text-danger" style="margin:10px"></span>
    </div>
    <input type="submit" value="Show" class="btn btn-success" style="margin:10px" />
</form>
<a asp-action="ChooseResType" asp-controller="CourseRes" class="btn btn-primary" style="margin:10px">Change search</a>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>