@model Course
@{
    ViewData["Title"] = "New";
    SelectList option = new SelectList(ViewBag.DeptList, "Id", "Name");
}

<h1>New Course</h1>

<form method="post" asp-action="SaveNew" asp-controller="Course">

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />

        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
        <br />

        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
        <br />

        <label asp-for="Hours"></label>
        <input asp-for="Hours" class="form form-control" />
        <span asp-validation-for="Hours" class="text-danger"></span>
        <br />

        <label asp-for="DeptID"></label>
        <select class="form form-control" asp-items="option" asp-for="DeptID">
            <option value="0">--plz select--</option>
        </select>
        <span asp-validation-for="DeptID" class="text-danger"></span>
        <br />
    </div>
    <input type="submit" value="Create" class="btn btn-success" style="margin:10px"/>
    <br />
</form>
<a asp-action="Index" asp-controller="Course" class="link-primary; font-monospace">Back to list</a>
<hr />


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>